<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>gradebook</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Black.woff</string>
		<string>Inter-BlackItalic.woff</string>
		<string>Inter-Bold.woff</string>
		<string>Inter-BoldItalic.woff</string>
		<string>Inter-ExtraBold.woff</string>
		<string>Inter-ExtraBoldItalic.woff</string>
		<string>Inter-ExtraLight-BETA.woff</string>
		<string>Inter-ExtraLightItalic-BETA.woff</string>
		<string>Inter-Italic.woff</string>
		<string>Inter-Light-BETA.woff</string>
		<string>Inter-LightItalic-BETA.woff</string>
		<string>Inter-Medium.woff</string>
		<string>Inter-MediumItalic.woff</string>
		<string>Inter-Regular.woff</string>
		<string>Inter-SemiBold.woff</string>
		<string>Inter-SemiBoldItalic.woff</string>
		<string>Inter-Thin-BETA.woff</string>
		<string>Inter-ThinItalic-BETA.woff</string>
		<string>Inter-italic.var.ttf</string>
		<string>Inter-upright.var.ttf</string>
		<string>Inter.var.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-SemiBold.ttf</string>
	</array>
</dict>
</plist>
